


<div class="cart box_1">
    <a href="@Url.Action("XemGioHang","GioHang")">
        <div class="total">
            <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span> sp)
        </div>
        <img src="~/Content/images/cart.png" alt="" />
    </a>
    <p><a href="@Url.Action("XemGioHang","GioHang")" class="simpleCart_empty">Giỏ hàng</a></p>

</div>
