
@{
    ViewBag.Title = "LoiPhanQuyen";
    //Layout = "~/Views/Layout/AdminLayout.cshtml";
}
<h2>Bạn không đủ quyền truy cập vào trang này vui lòng trở về @Html.ActionLink("trang chủ","Index","Home")...</h2>

