@using WebSiteBanHang.Models
@{
    ViewBag.Title = "SanPham1";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}
@{ IEnumerable<SanPham> lstLT = (IEnumerable<SanPham>)ViewBag.ListLT;}
@{ IEnumerable<SanPham> lstDT = (IEnumerable<SanPham>)ViewBag.ListDT;}
@{ IEnumerable<SanPham> lstMT = (IEnumerable<SanPham>)ViewBag.ListMT;}
<div class="container">
    <div class="content-top">
        <h1>Laptop</h1>
        @Html.Partial("SanPhamPartial", lstLT);
    </div>
</div>

<div class="container">
    <div class="content-top">
        <h1>Điện thoại</h1>
        @Html.Partial("SanPhamPartial", lstDT);
    </div>
</div>

<div class="container">
    <div class="content-top">
        <h1>Máy tính</h1>
        @Html.Partial("SanPhamPartial", lstMT);
    </div>
</div>
@*@Html.Action("SanPhamPartial");*@